.controller.xbox {
    background: url(xbox-assets/basemod.svg);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxymod.svg);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/stickmod.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
